$mainFont: 'Orbitron', sans-serif;
$altFont: 'Open Sans', sans-serif;
$gold: #D4AF37;
$white: #FDFFFC;
$black: #000;
$grey: #A9A9A9;
$darkGrey: #202020;
$oBlack: rgba(0,0,0,0.5);
$shadow: 2px 2px 3px $oBlack;

body{
	height: 100%;
	width: 100vw;
	font-size: 15px;
	font-family: $mainFont !important;
	h2{
		text-shadow: $shadow;
		color:$gold !important;
	}
	p{
		text-shadow: $shadow;
		color:$white;
	}
}
.wrapper{
	margin: 0 200px;
	@media screen and(max-width: 991px){
		text-align: center;
	}
}
.full-wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
}
.black-background{
	background: $oBlack;
	height: 100%;
}
.content{
	background: $oBlack;
	height: 100%;
	.inner-content{
		height: 100%;
		transform: translateY(40%);
		@media screen and(max-width: 720px){
			transform: translateY(20%);
		}
	}
}

.signinform,
.registerform{
	border: 1px solid $grey;
	border-radius: 5px;
}
.success{
	color:green;
}
.error{
	color:red;
}
:focus{
	outline:none !important;
}
.default{
	background: $darkGrey;
	color:$white;
}
.banner{
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: top center;
	height: 100vh;
}
#rmlLogo{
	width: 200px;
}
/************************************Social-Bar********************************/
.social-bar{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 40%;
	padding: 20px 10px;
	background: $gold;
	border-radius: 0 5px 5px 0;
	border:none;
	box-shadow: $shadow;
	z-index: 100;
	.social-icon{
		font-size: 2rem;
		color: $black;
		&:hover{
			color:$white;
		}
	}
}
/************************************Navbar************************************/

.navbar{
	background: $oBlack;
	.navbar-brand{
		cursor: default;
	}
	.navbar-toggler{
		padding: 0;
		width: 26px;
		-webkit-appearance: none;
		.icon-bar{
			display: flex;
			flex-direction: column;
			margin: 5px 0;
			height: 2px;
			width: 100%;
			background-color: $white;
		}
		&:hover,
		&:active{
			.icon-bar{
				background-color: $gold;
			}
		}
	}//End Navbar Toggler
//Changing icon-bars to X-Icon
	.navbar-toggler #top-bar{
		transform: rotate(45deg) translateY(10px);
		transition: transform 0.3s ease;
	}
	.navbar-toggler.collapsed #top-bar{
		transform: rotate(0);
	}
	.navbar-toggler #middle-bar{
		opacity: 0;
	}
	.navbar-toggler.collapsed #middle-bar{
		opacity: 1;
	}
	.navbar-toggler #bottom-bar{
		transform: rotate(-45deg) translateY(-10px);
		transition: transform 0.3s ease;
	}
	.navbar-toggler.collapsed #bottom-bar{
		transform: rotate(0);
	}

	.nav-item .nav-link{
		color:$white;
		&:hover,
		&:active{
			color:$gold;
		}
	}
}//End Navbar

/*****************************************Home*******************************/

.home-banner{
	background-image: url('images/background4.jpg');
	.btn{
		background-color: $oBlack;
		font-weight: 400;
		color:$gold;
		border: 1px inset rgba(255,255,255, 0.3);
		&:hover{
			background: $gold;
			color:$black;
		}
	}
}

/*****************************************Intro********************************/

.intro{
	background-image: url("images/background4.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: top center;
	color: $black;
	.card{
		background: $gold;
		max-width: 30rem !important;
		padding: 2rem;
		box-shadow: $shadow;
		h2{
			color:$black !important;
		}
		p{
			color:$black !important;
			text-shadow: none;
			height: 12.5rem;
		}
	}
	.fa, .far{
		font-size: 50px;
	}
	.btn{
		background-color: transparent;
		border: 2px solid $black;
		font-weight: 400;
		color:$black;
		box-shadow: $shadow;
		width: 12.5rem;
		margin: 0 auto;
		&:hover{
			background: $black;
			color:$gold;
		}
	}
}

/****************************************Info***************************************/

.info{
	background-image: url("images/background4.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	.info-content{
		padding: 300px 0;
		height: inherit;
		background-color: $oBlack;
		text-shadow: $shadow;
		h2{
			color:$gold;
			text-shadow: $shadow;
		}
		@media screen and(max-width: 991px){
			padding: 25px 0px;
		}
	}
	.btn{
		background-color: $oBlack;
		font-weight: 400;
		color:$gold;
		border: 1px inset rgba(255,255,255, 0.2);
		&:hover{
			background: $gold;
			color:$black;
		}
	}
}

/***************************************Services*******************************/
.services-banner{
	background-image: url("images/background2.png");
}

.services{
	background:$gold;
	color:$black;
	h2{
		color:$black !important;
	}
	p{
		color:$black !important;
		text-shadow: none;
	}
	.row{
	padding: 200px;
	@media screen and (max-width: 991px){
		padding: 100px 20px;
		}
	}

	.card{
		border:none;
		.card-header{
			background:black;
			color:$gold;
			border-radius: 0;
		}
		.card-body{
			background:$darkGrey;
			color:$white;
			height: auto;
			p{
				color:$white !important;
			}
			strong{
				color:$gold;
			}
		}//End card-body
		&:first-child{
			.card-header{
				border-radius: 5px 5px 0 0;
			}
		}
		&:last-child{
			background: transparent;
			.card-header{
				border-radius: 0 0 5px 5px;
			}
			.card-body{
				border-radius: 0 0 5px 5px;
			}
		}
	}
}
/***************************************About**********************************/
.about-banner{
	background-image: url("images/background3.png");
}
.profiles{
	padding: 100px 0;
	background: $gold;
	color:$black;

	@media screen and(max-width: 991px){
		padding: 100px 20px;
		.fa-user{
			padding-bottom: 50px;
		}
		.col-md-8{
			text-align: center;
		}
	}
	h2{
		font-weight: bold;
	}

	.fa-user{
		font-size: 200px;
	}
}

/***************************************Contact********************************/
.contact-banner{
	background-image: url("images/background4.jpg");
	.inner-content{
		transform: translateY(30%);
		&:hover{
			transform: translateY(10%);
		}
	}
	.contact-info{
		border-right: 1px inset $darkGrey;
		@media screen and(max-width: 720px){
			border-right: none;
		}
		a{
			text-decoration: none;
			color:$black;
			font-size:40px;
			span{
				font-size:20px;
			}
		}
	}
		h2, p{
			color:$black !important;
			text-shadow: none;
		}
		label{
			color:$black;
		}
	.row{
		background: $gold;
		padding: 50px;
		border-radius: 10px;
	}
}

/***************************************Footer*********************************/

.footer{
	padding-top: 20px;
	background: $black;
	color:$white;
	i{
		padding: 10px;
		font-size: 55px;
		color:$white;
		&:hover{
			color:$gold;
		}
	}
	h4{
		border-bottom: 1px solid $white;
		color:$gold;
	}
	ul li a{
		color:$white;
		&:hover{
			color:$gold;
			text-decoration: none;
		}
	}
	textarea, input{
		background: transparent;
		border:2px solid $white;
		color:$white;
		&:focus{
			background: transparent;
			border:2px solid $gold;
			color:$white;
			outline: none;
		}
	}
	button{
		color:$black;
		background: $white;
	}
}
